.contactSection {
  padding: 4rem 3% 4rem;
  margin: 0 auto;
  overflow: hidden;
}

.contactContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
}

.formBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.formLeft,
.formRight {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 0.25rem;
}

input,
textarea {
  padding: 0.75rem 1rem;
  border: 1.5px solid var(--quaternary-text-color);
  border-radius: 6px;
  font-size: 1rem;
  color: var(--secondary-text-color);
  background-color: var(--dark-bg-color);
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.submitButton {
  align-self: flex-end;
  background: var(--primary-text-color);
  color: var(--text-button-color);
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .formBody {
    flex-direction: column;
    gap: 1.5rem;
  }

  .submitButton {
    align-self: center;
    width: 80%;
    padding: 12px 0;
  }
}
